//globl transition css
/*fade*/

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade*/

.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

/* login-container */

.title-appear {
  transform: translateY(-50px);
}

.login-appear {
  transform: translateY(50px);
}

.username-appear {
  transform: translateX(50px);
}

.password-appear {
  transform: translateX(-50px);
}

.appear-active {
  transition: all .5s ease;
}

.appear-to {
  transform: translateY(0px);
  transform: translateX(0px);
}

/* login-container */

.page-transition-enter-active,
.page-transition-leave-active {
  transition: all 0.1s;
}

.page-transition-enter {
  transform: translateX(20px);
  opacity: 0;
}

.page-transition-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

/* Aside */

.Aside-transition-enter-active,
.Aside-transition-leave-active {
  transition: all 0.28s;
}

.Aside-transition-enter {
  transform: translateX(-20px);
  opacity: 0;
}

.Aside-transition-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}

/* Aside */

/* logo */

.logo-transition-enter-active {
  transition: all .28s;
}

.logo-transition-enter {
  transform: translateX(20px);
  opacity: 0;
}

/* logo */

/* navbar */
.mcSlots-enter-active{
  transition: all 0.28s ease-in-out;
}
.mcFull .mcSlots-enter{
  transform: translateX(100px);
  opacity: 0;
}
.mcChange .mcSlots-enter{
  // transform: translateY(10px);
  opacity: 0;
}
.mcSlots-leave{
  opacity: 0;
}
/* navbar */

/* animate */

/* animate */
